<!DOCTYPE html>
<html>
<head>
    <title>Conversion de nombres</title>
</head>
<body>
    <h1>Conversion de nombres</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Convertir</button>
    </form>
    {% if resultats %}
        <h2>Résultats :</h2>
        <ul>
            <li>Nombre décimal : {{ resultats.decimal }}</li>
            <li>Nombre binaire : {{ resultats.binaire }}</li>
            <li>Nombre octal : {{ resultats.octal }}</li>
            <li>Nombre hexadécimal : {{ resultats.hexadecimal }}</li>
        </ul>
    {% endif %}
</body>
</html>
